/* in index.css we totally for website but in app.css we put on some class component and style to these */
.Container{
  display: flex;
  /* justify-content: space-evenly; */
  min-height: 100vh;
  flex-direction: column;
  align-items:center;
  width: 100%;
  background-color: #fff;
  font-size: 13px;
}
