.navBar{
    width: 100%;
    background-color:#fefe;
    text-align: center;
    padding-top: 15px;
    height: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.navBar h2{
    font-size: 16px;
    color: #444;
}

.navBar span{
    margin-left: 20px;
    display: inline-block;
    width: 20px;
    height: 20px;
    font-size: 14px;
    background-color: #d0c7f7;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}