.product{
    border: 1px solid #ccc;
    border-radius: 7px;
    padding: 20px 50px;
    display: flex;
    justify-content:space-around ;
    width: 40rem;
    margin: 15px;
    color:#444;
}
/* #a78bfa ,#ede9fe*/
.button{
color: #7655db;
background-color: #fff;
border-radius: 5PX;
border: 1px solid #a78bfa;
padding:5px 10px;
cursor: pointer;
outline: none;
font-size: 12px;
 
 
 
}
.inc{
    background-color:#ede9fe ;
}
.dec{
    background-color: #ede9fe;
    
}

.value{
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: #ede9fe;
    border-radius: 50%;
   text-align: center;
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 14px;
    
}

.input{
    outline: none;
    border:1px solid #7655db;
    width: 5rem;
    border-radius: 5px;
  
}
.input:focus{
    border: 2px solid #7655db;
}
.remove{
    color: rgb(233, 84, 84);
    border: 1px solid rgb(233, 84, 84); 
    
}